/* #region COLOR-BASE */
$COLOR-TRANSPARENT: transparent;
$COLOR-WHITE: rgb(255, 255, 255);
$COLOR-BLACK: rgb(0, 0, 0);
/* #endregion */

/* #region FONT-FAMILY */
$FONTFAMILY-BASIC: 'Inter';
/* #endregion */

/* #region FONT-SIZE html */
$FONT-SIZE-HTML-VALUE: 16;
$FONT-SIZE-HTML: 16px;
/* #endregion */

/* #region SIZE-SCREEN */
$WIDTH-PC-LARGE: 1900px;
$WIDTH-PC-MEDIUM: 1366px;
$WIDTH-PC: 1200px;
$WIDTH-TAB: 992px;
$WIDTH-SM: 768px;
$WIDTH-XS: 576px;
/* #endregion */
